:root {
  --basic-white: #fff;
  --basic-extra-dark: #323232;
  --basic-dark: #5a5a5a;
  --basic-light: #f8f7f4;
  --basic-extra-light: #fefefe;
  --basic-placeholder: #999;

  --hover-light: #fbded7;
  --hover-dark: #f6b5a5;
  --hover-extra-dark: #d07058;
  --hover-bg: #ededed;

  --link-light: #ffbc9e;
  --link-dark: #e84d37;

  --border-light: rgba(255, 188, 158, 0.3);

  --light-white: rgba(255, 255, 255, 0.8);
  --superlight-white: rgba(255, 255, 255, 0.2);

  --light-gray: rgba(50, 50, 50, 0.3);
  --super-light-gray: #ababab;

  --light-red: rgba(232, 77, 55, 0.3);

  --dark-box-shadow: inset 0px 2px 1px #696969;
  --gray-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  --overlay: rgba(0, 0, 0, 0.4);

  --modal-overlay: rgba(0, 0, 0, 0.3);
  --modal-textarea: rgba(178, 178, 178, 0.52);

  --bg-dark: #9d8b84;
  --bg-neutral: #8996a6;
  --bg-light: #849d8f;

  --form-input: 1px solid #d3d3d2;

  --outline-form: 2px solid rgba(46, 136, 228, 0.52);

  --slider-controls: rgba(255, 255, 255, 0.4);

  --cart-total: #cacac7;

  --promo-left: #771308;
  --promo-right: #573419;

  --range-controls: rgba(248, 247, 244, 0.5);
  --range-controls-bs: rgba(171, 171, 171, 0.3);

  --social-button: rgba(255, 255, 255, 0.5);
  --social-button-active: rgba(255, 255, 255, 0.7);

  --catalog-price: rgba(49, 50, 53, 0.5);

  --button-bg: #f26843;
  --button-gradient: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-bs: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --button-ts: 0px 2px 5px rgba(160, 32, 11, 0.76);
  --button-bs-hover: 0px 2px 2px #ac1000;
  --button-active: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.07)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-active-bs: inset 0px 2px 2px #942718;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1146px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--bg-light);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.site-wrapper {
  min-width: 940px;
  background-color: var(--bg-light);
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: var(--bg-light);
  background-image: url(../img/slider/cream-raspberry.png);
}

.site-wrapper-2 {
  background-color: var(--bg-neutral);
  background-image: url(../img/slider/chocolate-lemon.png);
}

.site-wrapper-3 {
  background-color: var(--bg-dark);
  background-image: url(../img/slider/plombir-strawberry.png);
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
}

.form-input {
  line-height: 16px;
  font-size: 14px;
  padding: 15px 14px;
  border-radius: 4px;
  border: var(--form-input);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  height: 44px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg);
  background: var(--button-gradient);
  box-shadow: var(--button-bs);
  border-radius: 50px;
  text-align: center;
  padding: 9px 23px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  border: none;
  color: var(--basic-white);
  text-shadow: var(--button-ts);
}

.button:hover {
  background: var(--button-hover);
  box-shadow: var(--button-bs-hover);
}

.button:active {
  background: var(--button-active);
  box-shadow: var(--button-active-bs);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 26px;
}

/* Main navigation */

.main-header {
  padding-top: 9px;
}

.main-header-inner {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-bottom: 14px;
}

.main-navigation {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.site-navigation {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  height: 30px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  margin-left: -30px;
}

.navigation-item > .navigation-item-link {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 16px;
}

.navigation-item .navigation-item-link:hover,
.navigation-item .navigation-item-link:focus {
  border-radius: 26px;
  background: var(--basic-white);
  color: var(--basic-extra-dark);
}

.navigation-item .navigation-item-link:active {
  box-shadow: var(--dark-box-shadow);
  background: var(--hover-bg);
}

.navigation-item {
  position: relative;
  padding-bottom: 5px;
}

.sub-list {
  list-style: none;
  position: absolute;
  z-index: 10;
  top: 42px;
  left: -6px;
  display: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  width: 143px;
  background: var(--basic-white);
  box-shadow: var(--gray-box-shadow);
  border-radius: 4px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sub-menu:hover .sub-list,
.sub-menu:focus-within .sub-list {
  display: block;
}

.sub-item-current {
  background-color: var(--hover-extra-dark);
  color: var(--basic-white);
}

.sub-item .sub-item-link {
  display: block;
  padding: 9px 17px;
  color: var(--basic-extra-dark);
}

.sub-item-current .sub-item-link {
  color: var(--basic-white);
}

.sub-list .sub-item:focus-within:not(.sub-item-current),
.sub-list .sub-item:hover {
  background: var(--hover-light);
}

.sub-list .sub-item:active {
  background: var(--hover-dark);
}

.new-items {
  padding-left: 5px;
  padding-right: 5px;
}

/* User navigation */

.user-navigation {
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-width: 244px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: 14px;
}

.user-item {
  position: relative;
  margin-right: 10px;
  padding-bottom: 4px;
}

.user-item:last-child {
  margin-right: 0;
}

.user-item > .user-item-link {
  background: var(--superlight-white);
}

.search-link {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 8px;
  box-sizing: border-box;
}

.search-link-icon {
  fill: var(--basic-white);
}

.search-link:hover .search-link-icon,
.search-link:focus .search-link-icon {
  fill: var(--basic-extra-dark);
}

.user-item .user-item-link:hover,
.user-item .user-item-link:focus {
  background: var(--basic-white);
  color: var(--basic-extra-dark);
}

.search-form {
  position: absolute;
  z-index: 10;
  display: none;
  top: 36px;
  right: 0;
  width: 341px;
  box-shadow: var(--gray-box-shadow);
  background: var(--basic-light);
  border-radius: 4px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.search-item:hover .search-form,
.search-item:focus-within .search-form {
  display: block;
}

.login-form {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 36px;
  width: 277px;
  padding: 20px 18px 22px 18px;
  background: var(--basic-light);
  box-shadow: var(--gray-box-shadow);
  border-radius: 4px;
  display: none;
  box-sizing: border-box;
  max-height: 214px;
}

.login-link {
  padding: 6px 16px;
  min-width: 92px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.login-link .login-link-icon {
  margin-right: 8px;
}

.login-link-icon {
  fill: var(--basic-white);
}

.login-link:hover .login-link-icon,
.login-link:focus .login-link-icon {
  fill: var(--basic-extra-dark);
}

.login-item:hover .login-form,
.login-item:focus-within .login-form {
  display: block;
}

.login-form .form-input {
  width: 241px;
  margin-bottom: 20px;
}

.reg-links-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reg-links .reg-links-link {
  color: var(--basic-extra-dark);
  border-bottom: 1px solid var(--light-gray);
  font-weight: 400;
}

.reg-links .reg-links-item {
  margin: 0 0 9px 0;
  padding: 0;
}

.reg-links .reg-links-link:hover,
.reg-links .reg-links-link:focus {
  color: var(--link-dark);
  border-bottom: 1px solid var(--light-red);
}

.cart-link {
  display: flex;
  padding: 6px 18px;
  border-radius: 20px;
  background-image: url(../img/cart.svg);
  justify-content: space-between;
  min-width: 100px;
  box-sizing: border-box;
  align-items: center;
}

.user-item .cart-link-active {
  background: var(--basic-white);
  color: var(--basic-extra-dark);
}

.basket-stroke {
  fill: var(--basic-white);
}

.basket-fill {
  fill: transparent;
}

.cart-link .cart-link-icon {
  margin-right: 7px;
}

.cart-link:hover .basket-stroke,
.cart-link:focus .basket-stroke {
  fill: var(--basic-extra-dark);
}

.basket-stroke-active {
  fill: var(--basic-extra-dark);
}

.basket-fill-active {
  fill: var(--link-dark);
}

.cart-contain {
  display: none;
  position: absolute;
  z-index: 500;
  width: 540px;
  right: 0;
  top: 36px;
  color: var(--basic-extra-dark);
  background-color: var(--basic-light);
  border-radius: 4px;
  box-shadow: var(--gray-box-shadow);
}

.cart-table {
  width: 100%;
  padding: 20px 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.cart-table .cart-table-item {
  padding: 0;
}

.cart-table-body .cart-table-item {
  padding-bottom: 14px;
}
.cart-table-body .cart-table-item:nth-child(1) {
  width: 11px;
}

.cart-table-body .cart-table-item:nth-child(2) {
  width: 33px;
  height: 33px;
  padding-left: 6px;
}

.cart-table-body .cart-table-item:nth-child(3) {
  width: 216px;
  padding-left: 12px;
}

.cart-table-body .cart-table-item:nth-child(4) {
  width: 96px;
}

.cart-table-body .cart-table-item:nth-child(5) {
  width: 50px;
}

.cart-delete {
  background-color: transparent;
  border: none;
  width: 11px;
  height: 11px;
  background-image: url(../img/cart-delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  vertical-align: middle;
}

.cart-icecream-img {
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.icecream-cost {
  color: var(--super-light-gray);
}

.cart-footer {
  text-align: right;
}

.cart-total-cost .total-cost-value {
  border-top: 1px solid var(--cart-total);
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 15px;
  font-weight: 700;
}

.cart-item:hover .cart-contain,
.cart-item:focus-within .cart-contain {
  display: block;
}

.basket-fill-active {
  fill: var(--link-dark);
}

.user-info {
  text-align: right;
  font-weight: 700;
  margin-right: 4px;
  margin-top: 16px;
}

.user-info-time {
  margin-bottom: 9px;
  margin-right: -3px;
}

.user-info-phone {
  font-size: 22px;
  line-height: 24px;
  margin-right: -3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* Slider */

.slider {
  position: relative;
  padding-top: 260px;
  text-align: center;
  margin-bottom: 42px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-title {
  width: 672px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 26px;
}

.slider-btn {
  font-size: 32px;
  line-height: 44px;
  padding: 9px 23px;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 79px;
  justify-content: space-between;
}

.slider-controls .slider-btn {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: var(--basic-white);
}

.slider-controls .slider-btn:hover:not(.current),
.slider-controls .slider-btn:focus {
  background: var(--slider-controls);
}

.slider-controls .slider-btn:active {
  background-color: var(--basic-white);
}

.slider-active {
  background: var(--basic-white);
}

/* Promo */

.promo {
  margin-bottom: 40px;
}

.promo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 26px;
}

.banner {
  max-width: 560px;
  min-height: 220px;
  border-radius: 16px;
  padding: 14px 22px 26px 16px;
}

.promo-item {
  display: flex;
  flex-wrap: wrap;
}

.promo-item-left {
  background: url(../img/raspberries.jpg) 0 0 no-repeat;
  background-size: cover;
  background-color: var(--promo-left);
}

.promo-item-right {
  background: url(../img/free-chocolate.jpg) 0 0 no-repeat;
  background-size: cover;
  background-color: var(--promo-right);
}

.promo-title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-descr {
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 18px;
}

.promo-link {
  align-self: flex-end;
  margin-left: auto;
}

/* catalog sales */

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 26px;
  margin-bottom: 64px;
}

.catalog-list .catalog-list-item {
  position: relative;
  margin-bottom: 10px;
}

.catalog-item-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-bottom: 21px;
  top: -6px;
  left: -14px;
  min-width: 293px;
  height: calc(100% + 83px);
  background: var(--superlight-white);
  border-radius: 4px;
  box-shadow: 0px 20px 20px 0px var(--overlay);
  visibility: hidden;
  z-index: 1;
}

.catalog-item {
  max-width: 267px;
  text-align: center;
  position: relative;
}

.catalog-list-item:hover .catalog-item-overlay,
.catalog-list-item:focus-within .catalog-item-overlay {
  visibility: visible;
}

.catalog-list-item:hover .catalog-item {
  z-index: 2;
}

.catalog-item-overlay .button {
  padding: 12px 16px;
  margin-top: auto;
}

.catalog-item .catalog-item-title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  max-width: 258px;
}

.catalog-img {
  margin-bottom: 8px;
  border-radius: 50%;
}

.catalog-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px var(--catalog-price);
  margin: 0;
  position: absolute;
  top: 211px;
}

.catalog-price .catalog-price-weight {
  font-size: 30px;
  line-height: 35px;
}

.product-title {
  border-bottom: 1px solid var(--superlight-white);
}

.product-title:hover {
  color: var(--link-light);
  border-bottom: 1px solid var(--border-light);
}

.hit-offer::before {
  position: absolute;
  content: "";
  background: url(../img/hit.jpg);
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 100;
}

/* Features */

.features {
  margin-bottom: 40px;
  margin-top: -40px;
}

.features-wrapper {
  background: url(../img/features/pattern.jpg) 0 0 repeat;
  background-size: cover;
  border-radius: 16px;
  color: var(--basic-extra-dark);
  padding: 24px 20px;
  min-height: 306px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 14px;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}

.feature-item {
  position: relative;
  max-width: 540px;
  padding-left: 55px;
}

.feature-item:nth-child(-n + 2) {
  margin-bottom: 20px;
}

.feature-icecream::before {
  content: "";
  position: absolute;
  background-image: url(../img/features/ice-cream.svg);
  left: 0;
  top: -10px;
  width: 49px;
  height: 49px;
}

.feature-cow::before {
  content: "";
  position: absolute;
  background-image: url(../img/features/cow.svg);
  left: 0;
  top: -10px;
  width: 49px;
  height: 49px;
}

.feature-leaf::before {
  content: "";
  position: absolute;
  background-image: url(../img/features/leaf.svg);
  left: 0;
  top: -10px;
  width: 49px;
  height: 49px;
}

.feature-thermometer::before {
  content: "";
  position: absolute;
  background-image: url(../img/features/thermometer.svg);
  left: 0;
  top: -10px;
  width: 49px;
  height: 49px;
}

/* News */

.news {
  margin-bottom: 40px;
}

.news-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 26px;
}

.news-descr {
  margin: 0;
  display: block;
  max-width: 288px;
  margin-left: 4px;
  color: var(--basic-extra-dark);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.news-blog {
  background: url(../img/news/news-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  background-color: var(--basic-white);
  color: var(--basic-extra-dark);
}

.news-title {
  margin: 0;
  margin-left: 5px;
  margin-bottom: 3px;
  margin-top: 6px;
  font-weight: 500;
  font-size: 16px;
}

.news-mailing {
  display: flex;
  background: url(../img/news/mail-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  color: var(--basic-dark);
  padding: 5px;
}

.news-mailing-wrapper {
  background: var(--basic-light);
  margin: 0;
  padding: 25px 16px 29px 20px;
  border-radius: 16px;
}

.mailing-desc {
  margin: 0 0 43px;
}

.mailing-form {
  display: flex;
}

.mailing-form .mailing-form-input {
  max-width: 368px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 24px;
}

.mailing-form .mailing-btn {
  max-width: 130px;
}

/* Contacts */

.map {
  width: 100%;
  height: 430px;
  margin-bottom: 14px;
  z-index: 2;
  position: absolute;
  top: 1887px;
  left: 0;
}

.contacts {
  min-height: 430px;
  margin-bottom: 18px;
}

.contacts-wrapper {
  position: relative;
  margin-bottom: 44px;
}

.contacts-map {
  position: absolute;
  width: 1200px;
  height: 430px;
  top: 3px;
  right: 0;
  z-index: 0;
}

.contacts-info {
  position: absolute;
  top: 62px;
  right: 0;
  width: 303px;
  background: var(--basic-extra-light);
  border-radius: 16px;
  color: var(--basic-extra-dark);
  padding: 32px 25px;
  z-index: 300;
}

.contacts-address-title,
.contacts-phone-title,
.contacts-phone {
  font-size: 14px;
  line-height: 20px;
}

.contacts-address-title {
  margin: 0;
  padding: 0;
  max-width: 180px;
  margin-bottom: -2px;
}

.contacts-phone-title {
  margin: 0;
  margin-bottom: 2px;
}

.contacts-address {
  margin: 0;
  font-style: normal;
  margin-bottom: 22px;
}

.contacts-phone {
  margin: 0;
  margin-bottom: 31px;
}

.contacts-phone-time {
  display: block;
}

.contacts-address,
.contacts-phone .contacts-phone-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
}

/* Footer */

.main-footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.social-item {
  margin-right: 8px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-button .social-button-icon {
  border-radius: 50%;
  border: 2px solid var(--social-button);
  box-sizing: content-box;
}

.social-button-icon {
  fill: var(--basic-white);
  fill-opacity: 0.8;
}

.social-button:hover .social-button-icon,
.social-button:focus .social-button-icon {
  fill-opacity: 1;
}

.social-button:active .social-button-icon {
  border: 2px solid var(--social-button-active);
}

.footer-info {
  justify-self: center;
}

.footer-list-wrapper {
  display: flex;
}

.footer-info-list {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  padding: 0;
}

.footer-info-list + .footer-info-list {
  margin-left: 34px;
}

.footer-info-item {
  position: relative;
}

.footer-info-item .footer-info-item-link {
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid var(--superlight-white);
  margin-bottom: 6px;
}

.info-heart {
  font-weight: 700;
}

.info-heart::before {
  content: "";
  background: url(../img/heart.svg);
  position: absolute;
  top: 0;
  left: -22px;
  width: 15px;
  height: 13px;
}

.footer-info-list .footer-info-item-link:hover,
.footer-info-list .footer-info-item-link:focus {
  color: var(--link-light);
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  justify-self: end;
  margin-right: 5px;
}

.made-in {
  margin: 0;
}

.made-in .made-in-link {
  border-bottom: 1px solid var(--superlight-white);
}

.made-in .made-in-link:hover,
.made-in .made-in-link:focus {
  color: var(--link-light);
  border-bottom: 1px solid var(--border-light);
}

/* Catalog  */

.current-page {
  background: var(--hover-extra-dark);
  border-radius: 20px;
}

.user-item .cart-active {
  background: var(--basic-white);
  color: var(--basic-extra-dark);
}

.breadcrumbs-list {
  list-style: none;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-top: -38px;
  margin-left: -42px;
}

.breadcrumbs-list .breadcrumbs-item {
  margin-right: 22px;
  position: relative;
}

.breadcrumbs-list .breadcrumbs-item::after {
  content: "";
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/breadcrumbs.svg);
  width: 6px;
  height: 6px;
}

.breadcrumbs-list .breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-list .breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-list .breadcrumbs-item-link {
  border-bottom: 1px solid var(--superlight-white);
}

.breadcrumbs-list .breadcrumbs-item-link:hover,
.breadcrumbs-list .breadcrumbs-item-link:focus {
  color: var(--hover-dark);
  border-bottom: 1px solid var(--border-light);
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  margin-top: -12px;
}

/* Filter */

.catalog-filter {
  margin-bottom: 40px;
}

.filter-first-row .filter-category-title {
  margin-bottom: 7px;
}

.filter-second-row .filter-category-title {
  margin-bottom: 7px;
}

.filter-first-row {
  max-width: 869px;
  display: flex;
  margin-bottom: 14px;
  margin-top: 24px;
}

.filter-second-row {
  max-width: 869px;
  display: flex;
}

.filter-form .filter-category-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding-left: 14px;
}

.filter-category {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

.filter-category:last-child {
  margin-right: 0;
}

.category-sort {
  max-width: 196px;
}

.category-price {
  max-width: 218px;
}

.category-fat {
  max-width: 425px;
}

.category-content {
  max-width: 711px;
}

.filter-sort,
.range-filter,
.filter-fat,
.filter-content {
  list-style: none;
  background: var(--superlight-white);
  border-radius: 20px;
  height: 36px;
  line-height: 18px;
}

.sort-wrapper {
  position: relative;
}

.filter-sort {
  border: none;
  color: inherit;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  height: 36px;
  padding: 9px 14px;
  padding-right: 35px;
  background: var(--superlight-white);
  border-radius: 25px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.sort-wrapper:hover {
  color: var(--basic-extra-dark);
  background-color: var(--superlight-white);
  border-radius: 25px;
}

.sort-wrapper:hover .select-arrow {
  border-top: 7px solid var(--basic-extra-dark);
}

.select-arrow {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  right: 14px;
  width: 11px;
  height: 10px;
  border: 6px solid transparent;
  border-top: 7px solid var(--basic-white);
}

.range-filter {
  width: 218px;
}

.range-controls {
  position: relative;
  height: 36px;
  padding: 17px 21px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-controls);
}

.range-controls .bar {
  height: 2px;
  background: var(--basic-light);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  background: var(--super-light-gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px var(--range-controls-bs);
  cursor: pointer;
}

.range-controls .toggle:focus,
.range-controls .toggle:hover {
  outline-style: solid;
  outline-color: transparent;
  width: 22px;
  height: 22px;
}

.filter-fat {
  display: flex;
  margin: 0;
  width: 425px;
  padding: 0;
  padding: 7px 0 7px 47px;
}

.filter-fat .filter-fat-item {
  margin-right: 52px;
}

.filter-fat .filter-fat-item:last-child {
  margin-right: 0;
}

.filter-fat .filter-input-radio {
  border: 2px solid var(--light-white);
  border-radius: 50%;
}

.filter-option .filter-option-title,
.filter-option .filter-radio-title {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-top: 2px;
}

.filter-radio:hover .filter-radio-title::after,
.filter-radio:focus .filter-radio-title::after {
  border: 4px solid var(--basic-white);
}

.filter-radio:hover .filter-radio-title::before,
.filter-radio:focus .filter-radio-title::before {
  border: 4px solid var(--basic-white);
}

.filter-input-radio + .filter-radio-title::before {
  content: "";
  position: absolute;
  left: -33px;
  top: -2px;
  width: 22px;
  height: 22px;
  border: 4px solid var(--light-white);
  border-radius: 50%;
}

.filter-input-radio:checked + .filter-radio-title::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;
  width: 8px;
  height: 8px;
  background-color: var(--light-white);
  border-radius: 50%;
}

.filter-content {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 7px 20px;
  width: 711px;
}

.filter-option:last-child {
  margin-right: 0;
}

.filter-input-checkbox + .filter-option-title:before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;
  width: 21px;
  height: 20px;
  border: 2px solid var(--light-white);
  border-radius: 2px;
}

.filter-input-checkbox:checked + .filter-option-title:before {
  display: none;
}

.filter-input-checkbox:checked + .filter-option-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;
  width: 24px;
  height: 20px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:hover + .filter-option-title::before,
.filter-input-checkbox:focus + .filter-option-title::before {
  border: 2px solid var(--basic-white);
}

.filter-input-checkbox:hover + .filter-option-title::after,
.filter-input-checkbox:focus + .filter-option-title::after {
  background-image: url(../img/hover-checkbox.svg);
}

.filter-input-radio:focus + .filter-radio-title::before {
  border: 4px solid var(--basic-white);
}

.filter-input-radio:focus + .filter-radio-title::after {
  background-color: var(--basic-white);
}

.filter-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 36px;
  align-self: flex-end;
  background: var(--superlight-white);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  padding: 10px 29px;
}

.filter-button:hover,
.filter-button:focus {
  outline: none;
  background: var(--basic-white);
  color: var(--basic-extra-dark);
}

.filter-button:active {
  outline: none;
  box-shadow: var(--dark-box-shadow);
}

/* Paginator */

.paginator-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 51px;
}

.paginator-next {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.paginator-next .next-arrow {
  fill: var(--basic-white);
}

.paginator-next:active .next-arrow {
  fill: var(--basic-extra-dark);
}

.paginator-prev {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-item + .paginator-item {
  margin-right: 3px;
}

.paginator-item-page {
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
}

.paginator-item-page:hover:not(.paginator-current),
.paginator-item-page:focus {
  background: var(--superlight-white);
}

.paginator-current,
.paginator-item-page:active:not(.paginator-current) {
  background: var(--basic-white);
  color: var(--basic-extra-dark);
}

.paginator-item-page:disabled:hover {
  cursor: default;
  background-color: transparent;
}

/* Modal */

.modal {
  display: none;
  z-index: 400;
  background-color: var(--modal-overlay);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-wrapper {
  position: relative;
  padding: 20px 23px 27px 23px;
  width: 477px;
  height: 441px;
  margin: auto;
  margin-top: 100px;
  background-color: var(--basic-light);
  border-radius: 6px;
}

.modal-wrapper .modal-wrapper-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-extra-dark);
}

.modal-wrapper .modal-wrapper-content {
  margin-bottom: 20px;
}

.modal-wrapper .modal-input {
  width: 267px;
  line-height: 20px;
  font-size: 16px;
}

.form-input,
.modal-textarea {
  font-weight: 700;
}

.form-input::placeholder,
.modal-textarea::placeholder {
  font-weight: 400;
}

.modal-wrapper .modal-textarea {
  resize: none;
  width: 428px;
  height: 154px;
  border: 1px solid var(--modal-textarea);
  border-radius: 4px;
  padding: 16px 14px;
}

.form-input:focus,
.modal-textarea:focus {
  outline: none;
  border: var(--outline-form);
}

.modal-wrapper .button {
  float: right;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  background-image: url(../img/close-modal.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-show {
  display: block;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-active {
  display: block;
}

/* Animations */

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
